[Unit]
Description=The command to make the Keychron K2-K4 work with Function keys

[Service]
Type=oneshot
SyslogIdentifier=keychron
ExecStart=/bin/bash -c "sudo echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"
RemainAfterExit=true

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
